<main class="flex-shrink-0">
    <div class="container">
        <div class='card' *ngIf="libro">
            <div class='card-header'>
                Dettaglio
            </div>
            <div class='card-body'>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Id:</dt>
                    <dd class="col-sm-9">{{libro.id}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Titolo:</dt>
                    <dd class="col-sm-9">{{libro.titolo}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Numero pagine:</dt>
                    <dd class="col-sm-9">{{libro.pagine}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Autore:</dt>
                    <dd class="col-sm-9">{{libro.autore}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Data pubblicazione:</dt>
                    <dd class="col-sm-9">{{libro.dataPubblicazione|date:"dd/MM/yyyy"}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Premiato:</dt>
                    <dd class="col-sm-9">{{libro.premiato?'SI':'NO'}}</dd>
                </dl>
                <dl>
                    <a routerLink="/libro/list"><button class="btn btn-sm btn-outline-secondary">Torna alla
                            lista</button></a>
                </dl>
            </div>
        </div>
    </div>
</main>